:root {
  --yellow: #ffdc21;
  --white: #fff;
  --black: #000;
  --grey: #535353;
  --lilac: #213272;
  --dark-blue: #152040;
  --dark-grey: #080808;
}
body {
  margin: 0;
  padding: 0;
  color: var(--dark-blue);
}

main {
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue);
  width: 100%;
  height: 100vh;
}
