:root {
  --yellow: #ffdc21;
  --white: #fff;
  --black: #000;
  --grey: #535353;
  --lilac: #213272;
  --dark-blue: #152040;
  --dark-grey: #080808;
}
@font-face {
  font-family: poppins-semibold;
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: poppins-extralight;
  src: url("../fonts/Poppins-ExtraLight.ttf");
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav .myLinks {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  z-index: 1;
  font-size: 25px;
  text-align: center;
  a {
    font-size: 25px;
  }
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: var(--yellow);
}

/* Style the active link (or home/logo) */
.active {
  color: var(--yellow);
}
.topnav.responsive {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .myLinks {
  display: block;
}

nav {
  display: none;
}
.burgerbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0;
  gap: 10px;
  align-self: end;
}
.burger {
  width: 20px;
  height: 2px;

  background-color: var(--black);
}

p,
button {
  font-family: poppins-extralight;
  font-size: 15px;
  color: var(--dark-grey);
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  color: var(--white);
}

h1,
h2,
h3 {
  font-family: poppins-semibold;
}

h1 {
  font-size: 36px;
  color: var(--yellow);
}

h2 {
  color: var(--yellow);
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

.m-tanks {
  fill: var(--yellow);
}

.cover-img {
  background-image: url("https://static.wixstatic.com/media/fc7570_416a56430a9e4e2abd030cd2656120ef~mv2_d_6506_3420_s_4_2.jpg/v1/fill/w_320,h_589,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/fc7570_416a56430a9e4e2abd030cd2656120ef~mv2_d_6506_3420_s_4_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: var(--white);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 30px;
  width: 129px;
  height: 45px;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.plunge-into {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
}

.about-us {
  background: var(--lilac);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0;
  height: 500px;
}

.about-us p {
  font-size: 18px;
  color: var(--white);
  text-align: center;
  line-height: 1.5;
}

.course-content {
  background: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  /* padding-left: 20px; */
  padding-bottom: 40px;
  margin: 0;
}

.course-desc {
  padding-left: 20px;
  font-size: 18px;
  color: var(--white);
  text-align: left;
  line-height: 1.5;
}

.course-content p {
  font-size: 18px;
  color: var(--white);
  text-align: left;
  line-height: 1.5;
}

img {
  width: 100%;
  margin: 0;
}

.feedback-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0;
}

.contact-content p {
  font-size: 18px;
  color: var(--black);
  text-align: left;
  line-height: 1.5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0;
  color: var(--black);
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 50px;
  min-width: 300px;
  margin: 0;
}

.contact-content p {
  font-size: 18px;
  color: var(--black);
  line-height: 1.5;
}
.contact-info h4 {
  font-size: 24px;
  color: var(--black);
  line-height: 1.5;
}

.burgerbar {
  display: none;
}

.contact-form input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--black);
}
.form-btn {
  background-color: var(--dark-blue);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  width: 129px;
  height: 45px;
  color: var(--white);
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0;

  background-color: var(--dark-blue);
}
footer p {
  font-size: 18px;
  color: var(--white);
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  header {
    position: relative;
    overflow: hidden;
  }
  .cover-img {
    background-image: url("https://static.wixstatic.com/media/fc7570_416a56430a9e4e2abd030cd2656120ef~mv2_d_6506_3420_s_4_2.jpg/v1/fill/w_980,h_1260,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/fc7570_416a56430a9e4e2abd030cd2656120ef~mv2_d_6506_3420_s_4_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: background-position 0.1s linear;
  }

  .logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .plunge-into {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
  }

  .about-us {
    background: var(--lilac);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0;
  }

  .about-us p {
    font-size: 18px;
    color: var(--white);
    text-align: center;
    line-height: 1.5;
  }

  .courses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 20px;
    margin: 0;
    gap: 20px;
  }

  .course-content {
    background: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    /* padding-left: 20px; */
    padding-bottom: 40px;
    margin: 0;
    height: 400px;
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateY(
      20px
    ); /* Initially set translateY for sliding-up effect */
    transition: opacity 2s ease, transform 2s ease; /* Add transition for smoother animation */
  }

  .course-content img {
    display: block;
  }

  .course-content.visible {
    opacity: 1; /* Set opacity to 1 when the element is visible */
    transform: translateY(0); /* Reset translateY for sliding-up effect */
  }

  .course-desc {
    padding-left: 20px;
    font-size: 18px;
    color: var(--white);
    text-align: left;
    line-height: 1.5;
  }

  .course-content p {
    font-size: 18px;
    color: var(--white);
    text-align: left;
    line-height: 1.5;
  }

  img {
    width: 100%;
    margin: 0;
  }

  .feedback-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 0 50px;
    height: 70px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: right;
    list-style: none;
  }

  nav li {
    display: inline-block;
    padding: 0 20px;
  }

  nav li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
  }

  /* hover */
  nav li a:hover {
    color: var(--yellow);
  }

  .contact-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 50px;
    min-width: 300px;
    margin: 0;
  }

  .contact-content p {
    font-size: 18px;
    color: var(--black);
    line-height: 1.5;
  }
  .contact-info h4 {
    font-size: 24px;
    color: var(--black);
    line-height: 1.5;
  }

  .topnav {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav .myLinks {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: transparent;
    z-index: 0;
    position: relative;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
  }
  /* hover */
  .topnav a:hover {
    color: var(--yellow);
  }
  .myLinks {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  .myLinks .active {
    color: var(--yellow);
  }

  /* logo on the left top */
  .logo {
    display: none;
  }
  .logoWeb {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
}
